/*!*=======================================banner============================================*!*/


/*!*banner*!*/
#main > itembg{
height: 410px;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}

/*.banner {*/


/*height: 600px;*/


/*width: 100%;*/


/*position: absolute;*/


/*min-width: 1200px;*/


/*background-repeat: no-repeat;*/


/*background-position: center 0;*/


/*}*/


/*.main-backColor {*/


/*background-color: #f8f8f9;*/


/*}*/


/*.banner-text-align {*/


/*}*/


/*.banner-text {*/


/*color: #000;*/


/*margin: 0 auto;*/


/*padding-top: 155px;*/


/*letter-spacing: 3px;*/


/*}*/


/*.banner-text .first {*/


/*height: 60px;*/


/*font-size: 46px;*/


/*line-height: 60px;*/


/*text-align: center;*/


/*}*/


/*.banner-text .two {*/


/*height: 52px;*/


/*font-size: 46px;*/


/*line-height: 52px;*/


/*text-align: center;*/


/*}*/


/*!*=======================================产品logo和介绍四个========================================= *!*/


/*.main-content-items {*/


/*width: 1169px;*/


/*height: 477px;*/


/*margin: 35px auto 44px;*/


/*background-image: url('https://images.wosaimg.com/ef/0b0c57f54a9d584197ceddd4ab9de128d4faf6.png');*/


/*-webkit-background-size: 1169px 477px;*/


/*background-size: 1169px 477px;*/


/*background-position: center;*/


/*background-repeat: no-repeat;*/


/*padding: 70px 0 0 106px;*/


/*color: #000;*/


/*}*/


/*.main-content-items .items-title {*/


/*font-size: 45px;*/


/*height: 60px;*/


/*line-height: 60px;*/


/*margin-bottom: 7px;*/


/*}*/


/*.main-content-items .items-dis {*/


/*font-size: 30px;*/


/*height: 40px;*/


/*line-height: 40px;*/


/*margin-bottom: 42px;*/


/*}*/


/*.product-items {*/


/*width: 1018px;*/


/*height: 330px;*/


/*margin: -213px auto 51px;*/


/*text-align: center;*/


/*background-color: #fff;*/


/*}*/


/*.product-items .product-item{*/


/*width: 253px;*/


/*height: 349px;*/


/*float: left;*/


/*padding: 60px 54px 60px;*/


/*color: #000;*/


/*}*/


/*.product-items .item-pic{*/


/*width: 144px;*/


/*height: 88px;*/


/*display: inline-block;*/


/*background-image: url('https://images.wosaimg.com/c5/37e95d5274a3b6f52906c6349e8276a7ec4b7f.png');*/


/*-webkit-background-size: 144px 88px;*/


/*background-size: 144px 88px;*/


/*background-position: center;*/


/*background-repeat: no-repeat;*/


/*margin-bottom: 28px;*/


/*}*/


/*.product-items .item-title{*/


/*height: 44px;*/


/*line-height: 44px;*/


/*font-size: 33px;*/


/*margin-bottom: 10px;*/


/*}*/


/*.product-items .item-content{*/


/*height: 22px;*/


/*line-height: 22px;*/


/*font-size: 16px;*/


/*color: #7f7f7f;*/


/*padding: 0 5px;*/


/*}*/


/*.product-items .product-item-border{*/


/*width: 2px;*/


/*height: 266px;*/


/*background-color: #f4f5fa;*/


/*float: left;*/


/*margin-top: 33px;*/


/*}*/


/*.main-content-items .items-bar {*/


/*width: 45px;*/


/*height: 1px;*/


/*background-color: #000;*/


/*}*/


/*.banner-leader {*/


/*height: 460px;*/


/*width: 100%;*/


/*position: relative;*/


/*min-width: 1200px;*/


/*background-repeat: no-repeat;*/


/*background-position: center 0;*/


/*background-image: url('https://images.wosaimg.com/b3/db50fd385a562081f1a0c49420f12e8f195de6.jpg');*/


/*padding-top: 58px;*/


/*margin-bottom: 50px;*/


/*}*/


/*.banner-leader .banner-leader-text {*/


/*text-align: center;*/


/*margin: 0 auto 66px;*/


/*font-size: 46px;*/


/*color: #deb85b;*/


/*height: 61px;*/


/*line-height: 61px;*/


/*}*/


/*.banner-leader .banner-leader-pic {*/


/*width: 1018px;*/


/*margin: 0 auto;*/


/*}*/


/*.banner-leader .banner-leader-pic .pic {*/


/*height: 217px;*/


/*width: 217px;*/


/*background-image: url('https://images.wosaimg.com/8d/a0fb13478d0198777127202b5f229eb5c164b0.png');*/


/*-webkit-background-size: 217px 217px;*/


/*background-size: 217px 217px;*/


/*background-position: center;*/


/*background-repeat: no-repeat;*/


/*float: left;*/


/*}*/


/*.banner-leader .banner-leader-pic .pic-marginLeft {*/


/*margin-left: 50px;*/


/*}*/


/*.changes {*/


/*width: 1018px;*/


/*height: 425px;*/


/*margin: 0 auto 20px;*/


/*position: relative;*/


/*}*/


/*.changes .changes-left {*/


/*width: 348px;*/


/*height: 400px;*/


/*!*-webkit-border-radius: 6px;*!*/


/*!*-moz-border-radius: 6px;*!*/


/*!*border-radius: 6px;*!*/


/*overflow: hidden;*/


/*position: relative;*/


/*}*/


/*.changes .changes-left .header {*/


/*padding: 15px 30px;*/


/*background-color: #deb85b;*/


/*color: #fff;*/


/*position: relative;*/


/*}*/


/*.changes .changes-left .header-lef {*/


/*font-size: 55px;*/


/*height: 70px;*/


/*line-height: 70px;*/


/*padding-right: 13px;*/


/*margin-right: 15px;*/


/*display: inline-block;*/


/*}*/


/*.changes .changes-left .header-bar {*/


/*height: 50px;*/


/*width: 2px;*/


/*position: absolute;*/


/*left: 152px;*/


/*top: 25px;*/


/*background-color: #fff;*/


/*}*/


/*.changes .changes-left .header-rig {*/


/*font-size: 21px;*/


/*line-height: 1.2;*/


/*display: inline-block;*/


/*position: absolute;*/


/*width: 152px;*/


/*top: 26px;*/


/*}*/


/*.changes .changes-left .body {*/


/*padding: 0 28px;*/


/*font-size: 16px;*/


/*color: #929292;*/


/*background-color: #fff;*/


/*}*/


/*.changes .changes-left .body-item {*/


/*height: 68px;*/


/*border-bottom: 1px solid #edeef4;*/


/*line-height: 68px;*/


/*position: relative;*/


/*}*/


/*.changes .changes-left .body-item-first {*/


/*color: #deb85b;*/


/*}*/


/*.changes .changes-left .body-position {*/


/*display: inline-block;*/


/*width: 14px;*/


/*height: 17px;*/


/*background-image: url('https://images.wosaimg.com/78/76f599a1a0982000b5436aed7f54782d5cd437.png');*/


/*-webkit-background-size: 14px 17px;*/


/*background-size: 14px 17px;*/


/*background-position: center;*/


/*background-repeat: no-repeat;*/


/*position: absolute;*/


/*top: 25px;*/


/*}*/


/*.changes .changes-left .body-position-first {*/


/*background-image: url('https://images.wosaimg.com/93/ee5686336f71b5deb5b701b18c665407703496.png');*/


/*}*/


/*.changes .changes-left .body-interval {*/


/*margin-left: 18px;*/


/*margin-right: 40px;*/


/*}*/


/*.changes .changes-left .bottom {*/


/*padding: 24px 29px 24px;*/


/*background-color: #fff;*/


/*text-align: center;*/


/*color: #fff;*/


/*}*/


/*.changes .changes-left .bottom a {*/


/*color: #fff;*/


/*display: inline-block;*/


/*width: 142px;*/


/*height: 48px;*/


/*!*background-color: #a7a7a7;*!*/


/*font-size: 13px;*/


/*line-height: 48px;*/


/*background-color: #deb85b;*/


/*color: #fff;*/


/*border: 1px solid #deb85b;*/


/*}*/


/*.changes .changes-left .bottom a:hover {*/


/*color: #deb85b;*/


/*border: solid 1px #deb85b;*/


/*background-color: #fff;*/


/*}*/


/*.changes .changes-right {*/


/*display: inline-block;*/


/*position: absolute;*/


/*left: 272px;*/


/*!*top: 11px;*!*/


/*width: 758px;*/


/*height: 400px;*/


/*background-image: url('https://images.wosaimg.com/ff/9e57ebffd0f639e0c3b05cf52332475b6c5121.png');*/


/*-webkit-background-size: 768px 416px;*/


/*background-size: 768px 416px;*/


/*background-position: center;*/


/*background-repeat: no-repeat;*/


/*}*/


/*======================================= part1 new banner ============================================*/

.v-tenant .header {
    width: 100%;
    color: #fff
}

.v-tenant .header img {
    width: 100%
}

.v-tenant .header .title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: PingFang-SC-Bold;
    font-weight: 700;
    font-size: 23px;
    top: 30px
}

.v-tenant .header .sub_title {
    position: absolute;
    width: 100%;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    top: 68px
}

.v-tenant .header .head_button {
    position: absolute;
    top: 112px;
    left: calc(50% - 75px);
    text-align: center
}

.v-tenant .header .head_button a {
    width: 150px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    background-color: #deb85b;
    border-radius: 4px
}

.head_botton {
    background-color: transparent;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}

.head_botton a {
    color: #fff;
    display: inline-block;
    width: 300px;
    height: 70px;
    font-size: 30px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    line-height: 70px;
    background-color: #deb85b;
    color: #fff;
    border-radius: 8px;
    margin-top: 335px;
    margin-left: 10%;
}

.head_botton a:hover {
    color: #deb85b;
    background-color: transparent;
    border: 1px solid #deb85b;
}


/*======================================= part1 5个小方块 自动播放 ============================================*/

.main_part1 {
    width: 100%;
    height: 255px;
    background-color: #FAFAFA;
}

#main_part1_swiper {
    width: 85%;
    margin: 0 auto;
    height: 100%;
}

#main_part1_swiper .swiper-slide {
    text-align: center;
    background-color: #FFFFFF;
    width: 209px;
    height: 158px;
    margin-top: 49px;
    box-shadow: 0px 2px 4px 0px rgba(48, 48, 77, 0.05), 0px 4px 6px 0px rgba(48, 48, 77, 0.05);
    border-radius: 6px;
    border: 1px solid rgba(239, 239, 239, 1);
}

#main_part1_swiper .swiper-slide:hover {
    border: 2px solid #DEB85B;
}

#main_part1_swiper .swiper-slide .title {
    font-size: 42px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 36px;
    margin-top: 38px;
}

#main_part1_swiper .swiper-slide .sub_title {
    font-size: 22px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
    margin-top: 20px;
}


/*======================================= part2 ============================================*/

.main_part2 {
    width: 100%;
    height: 641px;
    background-color: #FFFFFF;
    border-top: 1px solid rgba(239, 239, 239, 1);
}

.main_part2 .title {
    font-size: 42px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 42px;
    margin-top: 88px;
    text-align: center;
}

.main_part2 .sub_title {
    font-size: 22px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 34px;
    margin-top: 19px;
    text-align: center;
}


/* 左右箭头 */


/* .main_part2 .button{
    width: 100%;
    position: absolute;
    margin-top: 220px;
} */

.main_part2 .swiper-button-prev {
    /* left: -10px; */
    width: 48px;
    height: 48px;
    background: url(../img/merchant/left.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    outline: none;
}

.main_part2 .swiper-button-prev:hover {
    opacity: 1;
}

.main_part2 .swiper-button-next {
    /* right: -10px;  */
    width: 48px;
    height: 48px;
    background: url(../img/merchant/right.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    outline: none;
}

.main_part2 .swiper-button-next:hover {
    opacity: 1;
}


/* 图片轮番 */

.reason-info {
    width: 90%;
    height: 360px;
    margin: 0 auto;
    margin-top: 66px;
    position: relative;
}

.reason-info .swiper-container {
    height: 360px;
    width: 90%;
    top: 14px;
}

.reason-info .swiper-slide {
    -webkit-transition: transform 2.0s;
    -moz-transition: transform 2.0s;
    -ms-transition: transform 2.0s;
    -o-transition: transform 2.0s;
    -webkit-transform: scale(0.715, 0.670);
    transform: scale(0.715, 0.670);
}

.reason-info .swiper-slide-active,
.reason-info .swiper-slide-duplicate-active {
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0px 2px 2px 0px rgba(48, 48, 77, 0.05), 0px 4px 4px 0px rgba(48, 48, 77, 0.05), 0px 8px 8px 0px rgba(48, 48, 77, 0.05), 0px 16px 16px 0px rgba(48, 48, 77, 0.05), 0px 32px 32px 0px rgba(48, 48, 77, 0.05);
    border-radius: 6px;
    border-bottom: 6px solid rgba(222, 184, 91, 1);
    width: 100%;
    height: 312px;
}

.reason-info .swiper-slide-active .icon {
    margin-top: 50px;
}

.reason-info .swiper-slide-active .title {
    font-size: 26px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
}

.reason-info .swiper-slide-active .sub_title {
    display: block;
}

.reason-info .swiper-slide-active .columns {
    border-bottom: 1px solid rgba(222, 184, 91, 1);
}

.reason-info .none-effect {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.reason-info .swiper-slide img {
    width: 100%;
}

.row {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.align-middle {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.columns {
    -webkit-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
    min-width: initial;
    width: 273px;
    height: 312px;
    border-radius: 6px;
    border: 1px solid rgba(239, 239, 239, 1);
}

.info {
    text-align: center;
    align-items: center;
}

.columns .icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-top: 70px;
    background-size: 100% 100%;
}

.columns .title {
    font-size: 24px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 26px;
    margin-top: 30px;
}

.columns .sub_title {
    width: 176px;
    height: 68px;
    font-size: 20px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 34px;
    margin: 0 auto;
    margin-top: 18px;
    text-align: center;
    display: none;
}


/*======================================= part3 ============================================*/

.main_part3 {
    width: 100%;
    height: 774px;
    background-color: #FFFFFF;
    border-top: 1px solid rgba(239, 239, 239, 1);
}

.main_part3 .title {
    font-size: 42px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 42px;
    margin-top: 80px;
    text-align: center;
}


/*轮番*/

.logowrap {
    width: 730px !important;
    height: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.logowrap .logoitem {
    width: 160px;
    height: 35px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 22px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 24px;
}

.logowrap .logoitem.active {
    border-bottom: solid 2px rgba(222, 184, 91, 1);
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.owl-buttons {
    position: relative;
}

body .owl-theme .owl-controls .owl-buttons div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 20px;
    background: #fff;
    border: 1px solid #fff
}

body .owl-theme .owl-controls .owl-buttons div:hover {
    border: 1px solid #555
}

.owl-prev {
    position: absolute;
    left: -60px;
    top: -58px;
}

.owl-next {
    position: absolute;
    right: -60px;
    top: -58px;
}

.logocontent {
    width: auto;
    margin: 0 auto;
    margin-left: 207px;
    margin-right: 207px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.left-right_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content1 {
    width: 100%;
}

.content1 ul li {
    /* 方框与文字水平对齐 */
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.content1 .yes_icon {
    width: 24px;
    height: 24px;
    float: left;
    background-image: url("../img/merchant/yes.png");
}

.content1 ul li .tit {
    float: left;
    margin-left: 12px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 18px;
}

.content1 .right_img {
    width: 626px;
    height: 376px;
}


/* 本例子css part3*/


/*content2*/

.content2 .slideTxtBox {
    width: 1166px;
    height: 452px;
    background-color: #FAFAFA;
}

.content2 .slideTxtBox .hd {
    width: 194px;
    height: 356px;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}


/* 下面是 上/下 按钮代码 */

.content2 .slideTxtBox .arrow {
    position: absolute;
    left: 88px;
    height: 356px;
}

.content2 .slideTxtBox .arrow div {
    overflow: hidden;
    cursor: pointer;
}

.content2 .slideTxtBox .arrow .prev {
    width: 18px;
    height: 11px;
    background: url("../img/merchant/up_icon.png") 0 0 no-repeat;
    position: absolute;
    top: 16px;
    opacity: 0.7;
}

.content2 .slideTxtBox .arrow .next {
    width: 18px;
    height: 11px;
    background: url("../img/merchant/down_icon.png") 100% 100% no-repeat;
    position: absolute;
    bottom: 16px;
    opacity: 0.7;
}

.content2 .slideTxtBox .arrow .prev:hover {
    opacity: 1;
}

.content2 .slideTxtBox .arrow .next:hover {
    opacity: 1;
}

.content2 .slideTxtBox .hd ul::-webkit-scrollbar {
    display: none;
}

.content2 .slideTxtBox .hd ul {
    float: left;
    position: absolute;
    width: 194px;
    /* height: 308px;
    margin-top: 24px; */
    height: 264px;
    margin-top: 52px;
    overflow-y: scroll;
}

.content2 .slideTxtBox .hd ul li {
    /* padding-right: 28px; */
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
}

.content2 .slideTxtBox .hd ul li.on {
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background: rgba(216, 216, 216, 0.2);
    border-right: 2px solid rgba(222, 184, 91, 1);
}

.content2 .slideTxtBox .bd {
    width: 972px;
}

.content2 .slideTxtBox .bd .pic {
    width: 846px;
    height: 356px;
    margin-left: 55px;
}

.content2 .slideTxtBox .bd .pic img {
    width: 800px;
    border-radius: 8px;
    background: rgba(255, 243, 227, 1);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}


/* ---- swiper second --- */

.content2 {
    width: 1166px;
    height: 452px;
    background-color: #FAFAFA;
}

.second_swiper_father1 {
    width: 194px;
    height: 356px;
    float: left;
    margin-top: 48px;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
    position: relative;
}

#second_swiper1 {
    height: 308px;
    margin-top: 24px;
}

#second_swiper1 .swiper-slide {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
}

.my-slide-thumb-active {
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background: rgba(216, 216, 216, 0.2);
    border-right: 2px solid rgba(222, 184, 91, 1);
}


/* 上下按钮代码 */

.content2 .second_swiper_father1 .swiper-button-prev {
    width: 48px;
    height: 48px;
    background: url(../img/merchant/left.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    outline: none;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 73px;
}

.content2 .second_swiper_father1 .swiper-button-prev:hover {
    opacity: 1;
}

.content2 .second_swiper_father1 .swiper-button-next {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    right: -10px;
    width: 48px;
    height: 48px;
    background: url(../img/merchant/right.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    outline: none;
    position: absolute;
    top: 356px;
    left: 73px;
}

.content2 .second_swiper_father1 .swiper-button-next:hover {
    opacity: 1;
}

#second_swiper2 {
    height: 356px;
    margin-top: 48px;
    /* background-color: green; */
}

#second_swiper2 .pic {
    width: 846px;
    height: 356px;
    margin-left: 55px;
}

#second_swiper2 .pic img {
    width: 800px;
    margin-top: 8px;
    border-radius: 8px;
    background: rgba(255, 243, 227, 1);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}


/* 本例子css part3*/


/*content3*/

.content3 .slideTxtBox {
    width: 1166px;
    height: 452px;
    background-color: #FAFAFA;
}

.content3 .slideTxtBox .hd {
    width: 194px;
    height: 356px;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}


/* 下面是 上/下 按钮代码 */

.content3 .slideTxtBox .arrow {
    position: absolute;
    left: 88px;
    height: 356px;
}

.content3 .slideTxtBox .arrow div {
    overflow: hidden;
    cursor: pointer;
}

.content3 .slideTxtBox .arrow .prev {
    width: 18px;
    height: 11px;
    background: url("../img/merchant/up_icon.png") 0 0 no-repeat;
    position: absolute;
    top: 16px;
    opacity: 0.7;
}

.content3 .slideTxtBox .arrow .next {
    width: 18px;
    height: 11px;
    background: url("../img/merchant/down_icon.png") 100% 100% no-repeat;
    position: absolute;
    bottom: 16px;
    opacity: 0.7;
}

.content3 .slideTxtBox .arrow .prev:hover {
    opacity: 1;
}

.content3 .slideTxtBox .arrow .next:hover {
    opacity: 1;
}


/*标题内容*/

.content3 .slideTxtBox .hd ul {
    float: left;
    position: absolute;
    width: 194px;
    height: 264px;
    margin-top: 52px;
    overflow: hidden;
}

.content3 .slideTxtBox .hd ul li {
    /* padding-right: 28px; */
    text-align: center;
    cursor: pointer;
    /* width: 175px; */
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
}

.content3 .slideTxtBox .hd ul li.on {
    font-size: 18px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background: rgba(216, 216, 216, 0.2);
    border-right: 2px solid rgba(222, 184, 91, 1);
}

.content3 .slideTxtBox .bd {
    width: 972px;
}

.content3 .slideTxtBox .bd .pic {
    width: 846px;
    height: 356px;
    margin-left: 55px;
}

.content3 .slideTxtBox .bd .pic img {
    width: 800px;
    border-radius: 8px;
    background: rgba(255, 243, 227, 1);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}


/* ---- swiper third --- */

.content3 {
    width: 1166px;
    height: 452px;
    background-color: #FAFAFA;
}

.third_swiper_father1 {
    width: 194px;
    height: 356px;
    float: left;
    margin-top: 48px;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
    position: relative;
    /* background-color: pink; */
}

#third_swiper1 {
    height: 308px;
    margin-top: 24px;
    /* background-color: red; */
}

#third_swiper1 .swiper-slide {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
}


/* 
.my-slide-thumb-active{
    font-size:18px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(0,0,0,1);
    background:rgba(216,216,216,0.2);
    border-right: 2px solid rgba(222,184,91,1);
} */

.content3 .third_swiper_father1 .swiper-button-prev {
    width: 48px;
    height: 48px;
    background: url(../img/merchant/left.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    outline: none;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    position: absolute;
    top: 0;
    left: 73px;
}

.content3 .third_swiper_father1 .swiper-button-prev:hover {
    opacity: 1;
}

.content3 .third_swiper_father1 .swiper-button-next {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(90deg);
    /* Opera */
    right: -10px;
    width: 48px;
    height: 48px;
    background: url(../img/merchant/right.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
    outline: none;
    position: absolute;
    top: 356px;
    left: 73px;
}

.content3 .third_swiper_father1 .swiper-button-next:hover {
    opacity: 1;
}

#third_swiper2 {
    height: 356px;
    margin-top: 48px;
    /* background-color: green; */
}

#third_swiper2 .pic {
    width: 846px;
    height: 356px;
    margin-left: 55px;
    /* background-color: red; */
}

#third_swiper2 .pic img {
    width: 800px;
    margin-top: 8px;
    border-radius: 8px;
    background: rgba(255, 243, 227, 1);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}


/* 内嵌 图片轮番 css
.content3 .picScroll-top{
    width:100%;
}

.content3 .picScroll-top .inHd2{
    width: 12px;

    position: absolute;
    right: 246px;
}

.content3 .picScroll-top .inHd2 ul{

}

.content3 .picScroll-top .inHd2 ul li{
    width: 6px;
    height: 6px;
    margin-left: 3px;
    cursor:pointer;
    background: url("../img/merchant/dot_gray.png") no-repeat;
    padding: 8px 6px;
}

.content3 .picScroll-top .inHd2 ul li.on{
    margin-left: 0px;
    background: url("../img/merchant/dot_black.png") no-repeat;
}

.content3 .picScroll-top .inBd2{
    width: 900px;
}

.content3 .picScroll-top .inBd2 ul{

}

.content3 .picScroll-top .inBd2 ul li{

}

.content3 .picScroll-top .inBd2 ul li .pic{
    width: 949px;
    height: 356px;
    margin-left: 55px;
}

.content3 .picScroll-top .inBd2 ul li .pic img{
    width: 700px;
    border-radius:8px;
    background:rgba(255,243,227,1);
    box-shadow:0px 4px 12px 0px rgba(0,0,0,0.15);
}

 */


/*======================================= part4 ============================================*/

.main_part4 {
    width: 100%;
    height: 695px;
    background-color: #FAFAFA;
}

.main_part4 .title {
    font-size: 42px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 42px;
    padding-top: 88px;
    text-align: center;
    border-top: 1px solid rgba(239, 239, 239, 1);
}

.main_part4 .image {
    /*background-image: url(../img/merchant/after_sale.png);*/
    background-position: center;
    background-size: cover;
    position: relative;
    height: 440px;
    margin-top: 80px;
}


/*======================================= part5 ============================================*/

.main_part5 {
    width: 100%;
    height: 695px;
    background-color: #FFFFFF;
    border-top: 1px solid rgba(239, 239, 239, 1);
}

.main_part5 .title {
    width: 420px;
    font-size: 42px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 42px;
    padding-top: 88px;
    text-align: center;
    border-top: 1px solid rgba(239, 239, 239, 1);
    margin: 0 auto;
}

.main_part5 .title .border_bottom {
    background-color: rgba(253, 219, 93, 1);
    width: 122px;
    height: 6px;
    text-align: center;
    margin-top: -6px;
    float: right;
}

.main_part5 .image {
    background-image: url(../img/merchant/group.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 1070px;
    height: 354px;
    margin: 0 auto;
    /* border: 1px dashed #888888; */
    margin-top: 63px;
}

.main_part5 .dots {
    width: 72px;
    height: 10px;
    margin: 0 auto;
    margin-top: 5px;
}

.main_part5 .dots .dot {
    background-image: url(../img/merchant/dot.png);
    background-position: center;
    background-size: cover;
    margin: 0 3px;
    width: 6px;
    height: 6px;
    float: left;
}


/*======================================= part6 ============================================*/

.main_part6 {
    width: 100%;
    height: 575px;
    background-color: #FAFAFA;
    border-top: 1px solid rgba(239, 239, 239, 1);
}

.main_part6 .title {
    font-size: 42px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 42px;
    padding-top: 80px;
    text-align: center;
    margin: 0 auto;
}

.main_part6 .sub_title {
    width: 684px;
    height: 52px;
    font-size: 16px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    margin-top: 34px;
}


/* 本例子css */

.main_part6 .picScroll-left {
    width: calc(100% - 242px);
    margin: 0 auto;
    height: 220px;
    overflow: hidden;
    position: relative;
    margin-top: 62px;
}


/* 左右箭头 */

.main_part6 .picScroll-left .hd {
    width: 100%;
    height: 220px;
    position: absolute;
    margin-top: 0px;
    margin-top: 86px;
    background-color: transparent;
}

.main_part6 .picScroll-left .hd .prev {
    margin-left: 0px;
    width: 48px;
    height: 48px;
    background: url(../img/merchant/left.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
}

.main_part6 .picScroll-left .hd .prev:hover {
    opacity: 1;
}

.main_part6 .picScroll-left .hd .next {
    float: right;
    width: 48px;
    height: 48px;
    background: url(../img/merchant/right.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.7;
}

.main_part6 .picScroll-left .hd .next:hover {
    opacity: 1;
}


/*图片轮番*/

.main_part6 .picScroll-left .bd {
    width: 1040px;
    margin: 0 auto;
}

.main_part6 .picScroll-left .bd ul {
    overflow: hidden;
    height: 220px;
}

.main_part6 .picScroll-left .bd ul li {
    margin: 0 20px;
    float: left;
    display: inline;
    overflow: hidden;
    width: 480px;
    height: 220px;
}

.main_part6 .picScroll-left .bd ul li .image {
    width: 100%;
    height: 220px;
    background-size: 100% 100%;
}

.main_part6 .picScroll-left .bd ul li .image .title {
    font-size: 26px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    line-height: 26px;
    position: absolute;
    margin-left: 12px;
    bottom: 12px;
}


/*======================================= part7 ============================================*/

.main_part7 {
    width: 100%;
    height: 1091px;
    background-position: center;
    background-size: 100% 100%;
}

.join_botton {
    background-color: transparent;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    margin: 0 auto;
}

.join_botton a {
    color: #fff;
    display: inline-block;
    width: 300px;
    height: 70px;
    font-size: 30px;
    font-family: PingFangSC-Medium;
    font-weight: 500;
    line-height: 70px;
    background-color: #deb85b;
    color: #fff;
    border-radius: 8px;
    margin-top: 475px;
    margin-left: calc(50% - 150px);
}

.join_botton a:hover {
    color: #deb85b;
    background-color: transparent;
    border: 1px solid #deb85b;
}